<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logoy.png') }}" alt="Logo" style="width: 150px;">
    </header>
    <h1>Welcome to TravelMate</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/destinations">Destinations</a>
        <a href="/book">Book</a>
        <a href="/login">Login</a>
        <a href="/signup">Signup</a>
        <a href="/logout">Logout</a>
    </nav>
</body>
</html>







